@import '../../_main';
$bg: #313131;
$bright-purple:#c7cdf7;
$violet: rgba(199, 146, 234, 1);
$scorllbars: #545454;
$var: #bbbbbb;
$number-aqua: #47f5ff;
$orange: #ffa544;
.cm-s-quantum.CodeMirror {
  background-color: $bg;
  color: rgba(233, 237, 237, 1);
}
.cm-s-quantum .CodeMirror-gutters {
  background: $bg;
  color: $icon_color;
  border: none;
}
.cm-s-quantum .CodeMirror-guttermarker, .cm-s-quantum .CodeMirror-guttermarker-subtle, .cm-s-quantum .CodeMirror-linenumber { color:  $scorllbars; }
.cm-s-quantum .CodeMirror-cursor { border-left: 1px solid #f8f8f0; }
.cm-s-quantum div.CodeMirror-selected { background: rgba(255, 255, 255, 0.15); }
.cm-s-quantum.CodeMirror-focused div.CodeMirror-selected { background: rgba(255, 255, 255, 0.10); }
.cm-s-quantum .CodeMirror-line::selection, .cm-s-quantum .CodeMirror-line > span::selection, .cm-s-quantum .CodeMirror-line > span > span::selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-quantum .CodeMirror-line::-moz-selection, .cm-s-quantum .CodeMirror-line > span::-moz-selection, .cm-s-quantum .CodeMirror-line > span > span::-moz-selection { background: rgba(255, 255, 255, 0.10); }

.cm-s-quantum .CodeMirror-activeline-background { background: rgba(0, 0, 0, 0); }
.cm-s-quantum .cm-keyword { color: rgba(199, 146, 234, 1); }
.cm-s-quantum .cm-operator { color: rgba(233, 237, 237, 1); }
.cm-s-quantum .cm-variable-2 { color: #80CBC4; }
.cm-s-quantum .cm-variable-3, .cm-s-quantum .cm-type { color: #82B1FF; }
.cm-s-quantum .cm-builtin { color: #DECB6B; }
.cm-s-quantum .cm-atom { color: $number-aqua; }
.cm-s-quantum .cm-number { color: $number-aqua; }
.cm-s-quantum .cm-def { color: rgba(233, 237, 237, 1); }
.cm-s-quantum .cm-string { color: $orange; }
.cm-s-quantum .cm-string-2 { color: #80CBC4; }
.cm-s-quantum .cm-comment { color: $scorllbars; }
.cm-s-quantum .cm-variable { color: #82B1FF; }
.cm-s-quantum .cm-tag { color: #80CBC4; }
.cm-s-quantum .cm-meta { color: #80CBC4; }
.cm-s-quantum .cm-attribute { color: #FFCB6B; }
.cm-s-quantum .cm-property { color: $var;}
.cm-s-quantum .cm-qualifier { color: #DECB6B; }
.cm-s-quantum .cm-variable-3, .cm-s-quantum .cm-type { color: #DECB6B; }
.cm-s-quantum .cm-tag { color: rgba(255, 83, 112, 1); }
.cm-s-quantum .cm-error {
  color: rgba(255, 255, 255, 1.0);
  background-color: #EC5F67;
}
.cm-s-quantum .CodeMirror-matchingbracket {
  color: $violet !important;
}
.CodeMirror-nonmatchingbracket {
  padding: 1.5px;
  border-radius: 5px;
  color: $dirty_white !important;
  background: red;
}
.CodeMirror-overlayscroll-horizontal div, .CodeMirror-overlayscroll-vertical div {
	background: $scorllbars !important;
}
.CodeMirror-overlayscroll-vertical {
  margin-right: 5px;
}
.CodeMirror-overlayscroll-horizontal {
  margin-bottom: 5px;
}