.quantumIcon {
  display: inline-block;
  fill: #848484;
  size: 25px; }
  .quantumIcon:hover {
    transition: all 0.1s ease-in-out;
    background: #444444;
    color: #f7f7f7; }
    .quantumIcon:hover path {
      fill: #f7f7f7; }

.quantumIcon-active {
  background: #444444; }
  .quantumIcon-active path {
    fill: #f7f7f7; }

@keyframes animateBg {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("../../src/fonts/SourceSansPro-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-Regular-Italic";
  src: url("../../src/fonts/SourceSansPro-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-Black";
  src: url("../../src/fonts/SourceSansPro-Black.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-BlackItalic";
  src: url("../../src/fonts/SourceSansPro-BlackItalic.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("../../src/fonts/SourceSansPro-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-BoldItalic";
  src: url("../../src/fonts/SourceSansPro-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-ExtraLight";
  src: url("../../src/fonts/SourceSansPro-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-ExtraLightItalic";
  src: url("../../src/fonts/SourceSansPro-ExtraLightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-Light";
  src: url("../../src/fonts/SourceSansPro-Light.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-LightItalic";
  src: url("../../src/fonts/SourceSansPro-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-SemiBold";
  src: url("../../src/fonts/SourceSansPro-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-SemiBoldItalic";
  src: url("../../src/fonts/SourceSansPro-SemiBoldItalic.ttf") format("truetype"); }

body {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  background: #1a1a1a; }

.svgIcon {
  padding: 2.5px;
  width: 16px;
  height: 14px; }

.Tab-controller-closeIcon {
  float: right; }
  .Tab-controller-closeIcon:hover {
    transition: all 0.1s ease-in-out;
    background: #444444;
    color: #f7f7f7; }
    .Tab-controller-closeIcon:hover path {
      fill: #f7f7f7; }

.Tab-controller-name {
  display: inline-block;
  float: right;
  overflow: none;
  cursor: pointer;
  z-index: 0;
  text-align: center;
  color: #848484;
  padding: 3.5px 5.5px 3.5px;
  letter-spacing: -0.35px;
  font-size: 10.5pt;
  font-family: 'SourceSansPro-Regular', sans-serif; }
  .Tab-controller-name:hover {
    transition: all 0.1s ease-in-out;
    background: #444444;
    color: #f7f7f7; }
    .Tab-controller-name:hover path {
      fill: #f7f7f7; }

.Welcome-screen {
  letter-spacing: 2.5px;
  display: block;
  padding: 15% 0;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #848484;
  font-size: 30pt;
  user-select: none;
  cursor: default;
  font-family: 'SourceSansPro-ExtraLight', sans-serif; }

.Welcome-screen-hints {
  letter-spacing: 2.5px;
  display: block;
  padding: 20px 5px 7.5px 5px;
  text-align: center;
  margin: 0 auto;
  color: #848484;
  font-size: 12pt;
  user-select: none;
  cursor: default;
  font-family: 'SourceSansPro-Regular', sans-serif; }

.Welcome-screen-background {
  display: block;
  background: rgba(255, 255, 255, 0.025);
  height: auto;
  width: 50%;
  margin: 0 auto;
  padding: 55px 25px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.5;
  z-index: -2; }
