.quantumIcon {
  display: inline-block;
  fill: #848484;
  size: 25px; }
  .quantumIcon:hover {
    transition: all 0.1s ease-in-out;
    background: #444444;
    color: #f7f7f7; }
    .quantumIcon:hover path {
      fill: #f7f7f7; }

.quantumIcon-active {
  background: #444444; }
  .quantumIcon-active path {
    fill: #f7f7f7; }

@keyframes animateBg {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("../../src/fonts/SourceSansPro-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-Regular-Italic";
  src: url("../../src/fonts/SourceSansPro-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-Black";
  src: url("../../src/fonts/SourceSansPro-Black.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-BlackItalic";
  src: url("../../src/fonts/SourceSansPro-BlackItalic.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("../../src/fonts/SourceSansPro-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-BoldItalic";
  src: url("../../src/fonts/SourceSansPro-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-ExtraLight";
  src: url("../../src/fonts/SourceSansPro-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-ExtraLightItalic";
  src: url("../../src/fonts/SourceSansPro-ExtraLightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-Light";
  src: url("../../src/fonts/SourceSansPro-Light.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-LightItalic";
  src: url("../../src/fonts/SourceSansPro-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-SemiBold";
  src: url("../../src/fonts/SourceSansPro-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-SemiBoldItalic";
  src: url("../../src/fonts/SourceSansPro-SemiBoldItalic.ttf") format("truetype"); }

.ButtonSharpActive {
  padding: 3px;
  display: block;
  cursor: pointer;
  width: 105px;
  height: 30px;
  margin: 0px auto;
  color: #848484;
  background: none;
  border: 1px solid #848484;
  font-family: 'SourceSansPro-Regular', sans-serif; }
  .ButtonSharpActive:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.025); }
  .ButtonSharpActive:hover {
    background: linear-gradient(270deg, #5979a1, #87509f, #6d059a, #6d059a, #0a4c9e);
    background-size: 1000% 1000%;
    animation: animateBg 5s ease infinite;
    border: none; }
    .ButtonSharpActive:hover .ButtonSharpActive-inner {
      background: #f7f7f7; }

.ButtonSharpActive-inner {
  user-select: none;
  margin: 0 auto;
  display: block;
  width: inherit;
  height: inherit; }
  .ButtonSharpActive-inner:hover {
    background: #f7f7f7; }

.ButtonSharpActive-label {
  user-select: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.75px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 6.5px 0px; }
  .ButtonSharpActive-label:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1); }
