.quantumIcon {
  display: inline-block;
  fill: #848484;
  size: 25px; }
  .quantumIcon:hover {
    transition: all 0.1s ease-in-out;
    background: #444444;
    color: #f7f7f7; }
    .quantumIcon:hover path {
      fill: #f7f7f7; }

.quantumIcon-active {
  background: #444444; }
  .quantumIcon-active path {
    fill: #f7f7f7; }

@keyframes animateBg {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("../../src/fonts/SourceSansPro-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-Regular-Italic";
  src: url("../../src/fonts/SourceSansPro-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-Black";
  src: url("../../src/fonts/SourceSansPro-Black.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-BlackItalic";
  src: url("../../src/fonts/SourceSansPro-BlackItalic.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("../../src/fonts/SourceSansPro-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-BoldItalic";
  src: url("../../src/fonts/SourceSansPro-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-ExtraLight";
  src: url("../../src/fonts/SourceSansPro-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-ExtraLightItalic";
  src: url("../../src/fonts/SourceSansPro-ExtraLightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-Light";
  src: url("../../src/fonts/SourceSansPro-Light.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-LightItalic";
  src: url("../../src/fonts/SourceSansPro-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-SemiBold";
  src: url("../../src/fonts/SourceSansPro-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro-SemiBoldItalic";
  src: url("../../src/fonts/SourceSansPro-SemiBoldItalic.ttf") format("truetype"); }

.menuContainer {
  position: relative;
  display: inline-block;
  max-height: 25px; }

.menuItem, .menuItem-active {
  user-select: none;
  cursor: default;
  display: inline-block;
  padding: 3.5px 5.5px 3.5px;
  color: #848484;
  font-family: 'SourceSansPro-Regular', sans-serif;
  letter-spacing: -0.35px;
  font-size: 10.5pt; }
  .menuItem:hover, .menuItem-active:hover {
    transition: all 0.1s ease-in-out;
    background: #444444;
    color: #f7f7f7; }
    .menuItem:hover path, .menuItem-active:hover path {
      fill: #f7f7f7; }

.menuItem-active {
  background: #444444;
  color: #f7f7f7; }

.menuLogoWrapper {
  position: absolute;
  display: inline-block;
  width: 105px;
  height: 25px; }

.logoSeparator {
  display: inline-block;
  margin-left: 100px; }

.subMenu {
  box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.55);
  transition: none;
  font-family: 'SourceSansPro-Regular', sans-serif;
  position: relative;
  color: #848484;
  background: #2b2b2b;
  letter-spacing: -0.35px; }

.submenuItem {
  user-select: none;
  padding: 7.5px;
  display: block; }
  .submenuItem:hover {
    color: white;
    background: linear-gradient(270deg, #5979a1, #87509f, #6d059a, #6d059a, #0a4c9e);
    background-size: 1000% 1000%;
    animation: animateBg 5s ease infinite;
    cursor: pointer; }
    .submenuItem:hover .submenuShortcut, .submenuItem:hover .submenuLabel {
      color: #BBBBBB; }
  .submenuItem:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.025); }

.submenuName {
  font-size: 13pt; }

.submenuLabel {
  font-size: 9.5pt;
  display: inline-block;
  color: #5979a1; }

.submenuShortcut {
  display: inline-block;
  float: right;
  font-size: 7pt;
  color: #5979a1; }

.simpleTriangle {
  margin-left: 35px;
  padding: 0;
  background: #1a1a1a;
  width: 0px;
  height: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #f7f7f7;
  transition: all 0.2s ease-in-out; }

.quantumSubMenu {
  box-shadow: 10px 10px 32px -12px rgba(0, 0, 0, 0.75);
  display: block;
  height: 150px;
  margin-left: 5px;
  border-radius: 25px;
  background: #f7f7f7;
  padding: 15px;
  transition: all 0.2s ease-in-out; }

.quantumSubMenuUser {
  margin-top: 25px;
  font-family: 'SourceSansPro-Regular', sans-serif;
  cursor: default;
  font-size: 15pt;
  color: #848484;
  display: block;
  width: 100%;
  text-align: center; }
