.quantumIcon {
  display: inline-block;
  fill: #848484;
  size: 25px; }
  .quantumIcon:hover {
    transition: all 0.1s ease-in-out;
    background: #444444;
    color: #f7f7f7; }
    .quantumIcon:hover path {
      fill: #f7f7f7; }

.quantumIcon-active {
  background: #444444; }
  .quantumIcon-active path {
    fill: #f7f7f7; }

@keyframes animateBg {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.CodeArea, .CodeArea-focused {
  display: block;
  position: fixed;
  width: inherit;
  height: inherit;
  z-index: -2; }

.CodeArea-focused {
  background: #444444; }

.react-codemirror2 {
  height: 100%; }

#codeEditor {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  z-index: -2; }
