.quantumIcon {
  display: inline-block;
  fill: #848484;
  size: 25px; }
  .quantumIcon:hover {
    transition: all 0.1s ease-in-out;
    background: #444444;
    color: #f7f7f7; }
    .quantumIcon:hover path {
      fill: #f7f7f7; }

.quantumIcon-active {
  background: #444444; }
  .quantumIcon-active path {
    fill: #f7f7f7; }

@keyframes animateBg {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.cm-s-quantum.CodeMirror {
  background-color: #313131;
  color: #e9eded; }

.cm-s-quantum .CodeMirror-gutters {
  background: #313131;
  color: #848484;
  border: none; }

.cm-s-quantum .CodeMirror-guttermarker, .cm-s-quantum .CodeMirror-guttermarker-subtle, .cm-s-quantum .CodeMirror-linenumber {
  color: #545454; }

.cm-s-quantum .CodeMirror-cursor {
  border-left: 1px solid #f8f8f0; }

.cm-s-quantum div.CodeMirror-selected {
  background: rgba(255, 255, 255, 0.15); }

.cm-s-quantum.CodeMirror-focused div.CodeMirror-selected {
  background: rgba(255, 255, 255, 0.1); }

.cm-s-quantum .CodeMirror-line::selection, .cm-s-quantum .CodeMirror-line > span::selection, .cm-s-quantum .CodeMirror-line > span > span::selection {
  background: rgba(255, 255, 255, 0.1); }

.cm-s-quantum .CodeMirror-line::-moz-selection, .cm-s-quantum .CodeMirror-line > span::-moz-selection, .cm-s-quantum .CodeMirror-line > span > span::-moz-selection {
  background: rgba(255, 255, 255, 0.1); }

.cm-s-quantum .CodeMirror-activeline-background {
  background: transparent; }

.cm-s-quantum .cm-keyword {
  color: #c792ea; }

.cm-s-quantum .cm-operator {
  color: #e9eded; }

.cm-s-quantum .cm-variable-2 {
  color: #80CBC4; }

.cm-s-quantum .cm-variable-3, .cm-s-quantum .cm-type {
  color: #82B1FF; }

.cm-s-quantum .cm-builtin {
  color: #DECB6B; }

.cm-s-quantum .cm-atom {
  color: #47f5ff; }

.cm-s-quantum .cm-number {
  color: #47f5ff; }

.cm-s-quantum .cm-def {
  color: #e9eded; }

.cm-s-quantum .cm-string {
  color: #ffa544; }

.cm-s-quantum .cm-string-2 {
  color: #80CBC4; }

.cm-s-quantum .cm-comment {
  color: #545454; }

.cm-s-quantum .cm-variable {
  color: #82B1FF; }

.cm-s-quantum .cm-tag {
  color: #80CBC4; }

.cm-s-quantum .cm-meta {
  color: #80CBC4; }

.cm-s-quantum .cm-attribute {
  color: #FFCB6B; }

.cm-s-quantum .cm-property {
  color: #bbbbbb; }

.cm-s-quantum .cm-qualifier {
  color: #DECB6B; }

.cm-s-quantum .cm-variable-3, .cm-s-quantum .cm-type {
  color: #DECB6B; }

.cm-s-quantum .cm-tag {
  color: #ff5370; }

.cm-s-quantum .cm-error {
  color: white;
  background-color: #EC5F67; }

.cm-s-quantum .CodeMirror-matchingbracket {
  color: #c792ea !important; }

.CodeMirror-nonmatchingbracket {
  padding: 1.5px;
  border-radius: 5px;
  color: #f7f7f7 !important;
  background: red; }

.CodeMirror-overlayscroll-horizontal div, .CodeMirror-overlayscroll-vertical div {
  background: #545454 !important; }

.CodeMirror-overlayscroll-vertical {
  margin-right: 5px; }

.CodeMirror-overlayscroll-horizontal {
  margin-bottom: 5px; }
