@mixin main_font() {
  font-family: 'SourceSansPro-Regular', sans-serif;	
}
@mixin main_font_italic() {
font-family: 'SourceSansPro-Regular-Italic', sans-serif;	
}
@mixin main_font_black() {
font-family: 'SourceSansPro-Black', sans-serif;	
}
@mixin main_font_blackItalic() {
font-family: 'SourceSansPro-BlackItalic', sans-serif;	
}
@mixin main_font_bold() {
font-family: 'SourceSansPro-Bold', sans-serif;	
}
@mixin main_font_boldItalic() {
font-family: 'SourceSansPro-BoldItalic', sans-serif;	
}
@mixin main_font_extraLight() {
font-family: 'SourceSansPro-ExtraLight', sans-serif;	
}
@mixin main_font_extraLightItalic() {
font-family: 'SourceSansPro-ExtraLightItalic', sans-serif;	
}
@mixin main_font_light() {
font-family: 'SourceSansPro-Light', sans-serif;	
}
@mixin main_font_lightItalic() {
font-family: 'SourceSansPro-LightItalic', sans-serif;	
}
@mixin main_font_semiBold() {
font-family: 'SourceSansPro-SemiBold', sans-serif;	
}
@mixin main_font_semiBoldItalic() {
font-family: 'SourceSansPro-SemiBoldItalic', sans-serif;	
}



@font-face {
	font-family: "SourceSansPro-Regular"; 
	src: url('../../src/fonts/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face {
	font-family: "SourceSansPro-Regular-Italic"; 
	src: url('../../src/fonts/SourceSansPro-Italic.ttf') format('truetype');
}
@font-face {
	font-family: "SourceSansPro-Black"; 
	src: url('../../src/fonts/SourceSansPro-Black.ttf') format('truetype');
}
@font-face {
	font-family: "SourceSansPro-BlackItalic"; 
	src: url('../../src/fonts/SourceSansPro-BlackItalic.ttf') format('truetype');
}
@font-face {
	font-family: "SourceSansPro-Bold"; 
	src: url('../../src/fonts/SourceSansPro-Bold.ttf') format('truetype');

}
@font-face {
	font-family: "SourceSansPro-BoldItalic"; 
	src: url('../../src/fonts/SourceSansPro-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: "SourceSansPro-ExtraLight"; 
	src: url('../../src/fonts/SourceSansPro-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: "SourceSansPro-ExtraLightItalic"; 
	src: url('../../src/fonts/SourceSansPro-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
	font-family: "SourceSansPro-Light"; 
	src: url('../../src/fonts/SourceSansPro-Light.ttf') format('truetype');
}
@font-face {
	font-family: "SourceSansPro-LightItalic"; 
	src: url('../../src/fonts/SourceSansPro-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: "SourceSansPro-SemiBold"; 
	src: url('../../src/fonts/SourceSansPro-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: "SourceSansPro-SemiBoldItalic"; 
	src: url('../../src/fonts/SourceSansPro-SemiBoldItalic.ttf') format('truetype');
}