$logo_color_brighter: #5979a1;
$logo_color_darker: #87509f;
$dirty_white: #f7f7f7;
$light_gray: #BBBBBB;
$app_bg: #1a1a1a;
$app_bg_light: #444444;
$toolbar-height: 25px;
$toolbar-color: #2b2b2b;
$icon_color: #848484;


@mixin gradient_animated_bg() {
	background: linear-gradient(270deg, $logo_color_brighter, $logo_color_darker, #6d059a, #6d059a, #0a4c9e);
	background-size: 1000% 1000%;
	animation: animateBg 5s ease infinite;
}
@mixin gradient_bg() {
	background: linear-gradient(270deg, $logo_color_brighter, $logo_color_darker, #6d059a, #6d059a, #0a4c9e);
}
@mixin grow_up($time, $scale) {
	&:hover {
	transition: all $time ease-in-out;
	 transform: scale($scale); 
	}
}
@mixin elementaryHover($time) {
	&:hover {
		transition: all $time ease-in-out;
		background: $app_bg_light;
		color: $dirty_white;
		path {
			fill: $dirty_white;
		}
	}
}

.quantumIcon {
	display: inline-block;
	fill: $icon_color;
	size: 25px;
	@include elementaryHover(.1s)
}
.quantumIcon-active {
	background: $app_bg_light;
	path {
		fill: $dirty_white;
	}
}
@keyframes animateBg { 
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}