@import 'main';
@import 'font';

body {
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	background: $app_bg;
}

.svgIcon {
	padding: 2.5px;
	width: 16px;
	height: 14px;
}

.Tab-controller-closeIcon {
	float: right;
	@include elementaryHover(.1s);	
}

.Tab-controller-name {
	display: inline-block;
	float: right;
	overflow: none;
	cursor: pointer;
	z-index: 0;
	text-align: center;
	color: $icon-color;
	padding: 3.5px 5.5px 3.5px;
	letter-spacing: -0.35px;
	font-size: 10.5pt;
	@include elementaryHover(.1s);	
	@include main_font();
}
.Welcome-screen {
	letter-spacing: 2.5px;
	display: block;
	padding: 15% 0;
	height: 100%;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	color: $icon-color;
	font-size: 30pt;
	user-select: none;
	cursor: default;
	@include main_font_extraLight();
}
.Welcome-screen-hints {
	letter-spacing: 2.5px;
	display: block;
	padding: 20px 5px 7.5px 5px;
	text-align: center;
	margin: 0 auto;
	color: $icon-color;
	font-size: 12pt;
	user-select: none;
	cursor: default;
	@include main_font();
}
.Welcome-screen-background {
	display: block;
	background: rgba(255, 255, 255, 0.025);
	height: auto;
	width: 50%;
	margin: 0 auto;
	padding: 55px 25px;
	border-radius: 10px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.5;
  z-index: -2;
}