@import '_main';
@import '_font';
.ButtonSharpActive {
	padding: 3px;
	display: block;
	cursor: pointer;
	width: 105px;
	height: 30px;
	margin: 0px auto;
	color: $icon_color;
	background: none;
	border: 1px solid $icon_color;
	@include main_font();
	@include grow-up(0.2s, 1.025);
	&:hover {
		@include gradient_animated_bg();
		border: none;
		.ButtonSharpActive-inner {
			background: $dirty_white;
		}
	}
}
.ButtonSharpActive-inner {
	user-select:none;
	margin: 0 auto;
	display: block;
	width: inherit;
	height: inherit;
	// top: 50%;
	// left: 50%;
	// width: calc(100% - 3px);
	// height: calc(100% - 3px);
	&:hover{
		background: $dirty_white;	
	}
}
.ButtonSharpActive-label {
	user-select:none;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.75px;
	text-align: center;
	display: block;
	margin: 0 auto;
	padding: 6.5px 0px; 
	@include grow-up(.2s, 1.10);
}