@import '_main';
@import '_font';
.menuContainer {
	position: relative;
	display: inline-block;
	max-height: 25px;
}

.menuItem, .menuItem-active {
	user-select: none;
	cursor: default;
	display: inline-block;
	padding: 3.5px 5.5px 3.5px;
	color: $icon-color;
	font-family: 'SourceSansPro-Regular', sans-serif;
	letter-spacing: -0.35px;
	font-size: 10.5pt;
	@include elementaryHover(.1s)
}
.menuItem-active {
	background: $app_bg_light;
	color: $dirty_white;
}

.menuLogoWrapper {
	position: absolute;
	display: inline-block;
	width: 105px;
	height: 25px;
}
.logoSeparator {
	display: inline-block;
	margin-left: 100px;
}
.subMenu {
	box-shadow: 10px 10px 22px -12px rgba(0,0,0,0.55);
	transition:none;
	@include main_font();
	position: relative;
	color: $icon_color;
	background: $toolbar-color;
	letter-spacing: -0.35px;
}
.submenuItem {
	user-select: none;
	padding: 7.5px;
	display: block;
	&:hover {
		color:white;
		@include gradient_animated_bg();
		cursor: pointer;
		.submenuShortcut, .submenuLabel {
				color: $light_gray;
		}
	}
	@include grow-up(0.2s, 1.025);
	
}
.submenuName {
	font-size: 13pt;
}
.submenuLabel {
	font-size: 9.5pt;
	display: inline-block;
	color: $logo_color_brighter;
}
.submenuShortcut {
	display: inline-block;
	float: right;
	font-size: 7pt;
	color: $logo_color_brighter;
}
.simpleTriangle {
  margin-left: 35px;
  padding: 0;
  background: $app_bg;
  width: 0px;
  height: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid $dirty_white;
  transition: all 0.2s ease-in-out;
}
.quantumSubMenu {
  box-shadow: 10px 10px 32px -12px rgba(0,0,0,0.75);
  display: block;
  height: 150px;
  margin-left: 5px;
  border-radius: 25px;
  background: $dirty_white;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}
.quantumSubMenuUser {
  margin-top: 25px;
  @include main_font();
  cursor: default;
  font-size: 15pt;
  color: $icon_color;
  display: block;
  width: 100%;
  text-align: center;

}