@import 'main';

.Titlebar {
	position: fixed;
	user-select: none;
	width: 100%;
	height: 25px;
	z-index: 100;
	box-shadow: 30px 30px 32px -12px rgba(0,0,0,0.75);
}
.Titlebar-tiny {
	background: linear-gradient(270deg, $logo_color_brighter, $logo_color_darker, #6d059a, #6d059a, #0a4c9e);
	background-size: 1000% 1000%;
	animation: animateBg 5s ease infinite;
	min-width: 100%;
	min-height: 5px;
	display: block;
	position: fixed;
	-webkit-app-region: drag;
	z-index: 1;
}

.Titlebar-main {
	user-select: none;
	display: block;
	background: $toolbar-color;
	height: $toolbar-height;
	transition: all 0.05s ease-out;
	margin-top: -$toolbar-height;
	z-index: -2;
}

.Titlebar-controlIcons {
	display: inline-block;
	height: 20px;
	float: right;
	margin-left: 10px;
}

.Titlebar-controlIcon {
	height: 2px;
	user-select: none;
	cursor: default;

}

.Titlebar-thickLine {
	display: block;
	height: 1px;
	width: 100%;
	color: $icon-color;
}