@import '_main';

.CodeArea, .CodeArea-focused {
	display: block;
	position: fixed;
	width: inherit;
	height: inherit;
	z-index: -2;
}
.CodeArea-focused {
	background: $app_bg_light;
}
.react-codemirror2 {
	height: 100%;
}
#codeEditor {
	width: 100%;
	height: 100%;
	display: block;
	position: fixed;
	z-index: -2;
}